* {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: justify;
    padding-left: 20px;
}

.color {
    text-align: center;
    background-color: #e5e5e5;
    font-size: 50px;
    color: white;
    margin-bottom: 0px;
    padding: 1%;
}

#profile {
    text-align: center;
    border-top: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.foto {
    border-radius: 100%;
}

.social-icons {
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

ul {
    list-style: square;
}
